.hero-img {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 70vh;
    position: relative;
    
}
.hero-img>img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.heading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-size: 2.4rem;
}
.heading p{
    font-size: 1.4rem;
    text-align: center;

}