.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container {
    max-width: 1020px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 130px;
    padding-bottom: 5rem;
    
}
.project-card{
    box-shadow: 0 0 20px #fff;
    transition: 0.5s;
    
    
}
.project-card:hover{
    transform: translateY(30px);
}
.project-card>img{
    width: 100%;
   
} 
.project-title{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 10px;
}
.pro-details p{
    padding: 20px;
    
    font-size: 1.1rem;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:720px){
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}